[Unit]
Description=Wyoming Satellite Service
After=network.target

[Service]
Type=simple
ExecStart=/home/pi/wyoming-satellite/pi/run.sh
Restart=on-failure
RestartSec=5
User=pi

[Install]
WantedBy=multi-user.target
